{% extends "layout.html" %}

{% block nav %}
<li> <a href="{{ links[0].href }}">{{links[0].label}}</a> </li>
<li  class="active"> <a href="{{ links[1].href }}">{{links[1].label}}</a></li>
<li> <a href="{{ links[2].href }}">{{links[2].label}}</a> </li>
<li> <a href="{{ links[3].href }}">{{links[3].label}}</a> </li>
{% endblock %}

{% block header %}<h1>The analysis</h1>{% endblock %}

{% block content %}
<div class="container">
	<section class="row">
		<div class="col-lg-2">
		    <ul class="nav nav-pills nav-stacked">
		      <li role="presentation" class="active"><a href="{{ analysis_links[0].href }}">{{analysis_links[0].label}}</a></li>
		      <li role="presentation"><a href="{{ analysis_links[1].href }}">{{analysis_links[1].label}}</a></li>
		      <li role="presentation"><a href="{{ analysis_links[2].href }}">{{analysis_links[2].label}}</a></li>
		      <li role="presentation"><a href="{{ analysis_links[3].href }}">{{analysis_links[3].label}}</a></li>
		    </ul>
		</div>

		<div class="col-lg-10">
			<div class="jumbotron col-lg-11">
				<h2>The coverage of the candidates by the media</h2>
				<hr class="my-4">
				<p>
					First, we decided to analize the coverage of the candidates by the media. You can see the number of articles that the newspapers Le Monde, Le Figaro and France 24 are written each month about the five main candidates, or for each candidate, how he is covered by those three newspapers.
				</p>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<form method="post" class="form-inline" >
						<div class="form-group">
							<label for="select">Choose the analysis per media or per candidate: </label>
							<div id="select">
								{{ form.C_M(class_ = "form-control" ) }}
								{{ form.hidden_tag() }}
							</div>	
							<br>
							<input type="submit" class="btn btn-primary" value="Enter"/>
						</div>
					</form>	
				</div>
				
			</div>
		
		</div>
		{% if choice == 'media' %}
			<div class="row">
				<p class="col-lg-2 well">
					Fillon and Melenchon have the best coverage on Le Figaro. <br>
					For Fillon this is not a surprise as Le Figaro is a right wing newspaper. <br>
					However, Melenchon had the best coverage on April 11 th .
				</p>
				<div class="col-lg-10">
					{% include picture[0] %}
				</div>	
			</div>
			<div class="row">
				<p class="col-lg-2 well">
					Le Monde is supposed to be a left wing newspaper but the results seem to be quite fair for every candidate. 
				</p>
				<div class="col-lg-10">
					{% include picture[1] %}
				</div>
					
			</div>
			<div class="row">
				<p class="col-lg-2 well">
					Melenchon seems to be not very popular on France 24 
				</p>
				<div class="col-lg-10">
					{% include picture[2] %}
				</div>
					
			</div>
		{% elif choice=='candidate' %}
			<div class="row">
				<p class="col-lg-2 well">
					Marine Le Pen stirs great controversy and it is interesting what is her best coverage. <br>
					She had the best coverage on Le Figaro. 

				</p>
				<div class="col-lg-10">
					{% include picture[0] %}
				</div>
					
			</div>
			<div class="row">
				<p class="col-lg-2 well">
					As we mentioned before, Fillon has the greatest coverage on Le Figaro: this is not surprising as Le Figaro is a right wing party. 
				</p>
				<div class="col-lg-10">
					{% include picture[1] %}
				</div>
					
			</div>
			<div class="row">
				<p class="col-lg-2 well">
					This graph is more difficult to analyse since Macron used to belong to the French Social Party but left it to run his own. He has a left wing history and yet his best coverage is Le Figaro but very closely followed by Le Monde. 
				</p>
				<div class="col-lg-10">
					{% include picture[2] %}
				</div>	
			</div>
			<div class="row">
				<p class="col-lg-2 well">
					Quite balanced between all the newspapers
				</p>
				<div class="col-lg-10">
					{% include picture[3] %}
				</div>	
			</div>
			<div class="row">
				<p class="col-lg-2 well">
					Melenchon is at the left of the left wing and yet his best coverage was on Le Figaro on April 11th. 
				</p>
				<div class="col-lg-10">
					{% include picture[4] %}
				</div>
					
			</div>
		{% endif %}

	</section>
</div>


{% endblock %}